@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));

@theme {
  --color-body: #faf8ff;

  /*primary color*/
  --color-primary-50: #f0f4fd;
  --color-primary-100: #e5ebfa;
  --color-primary-200: #cfdbf6;
  --color-primary-300: #b2c2ef;
  --color-primary-400: #92a2e7;
  --color-primary-500: #7884dc;
  --color-primary-600: #5d61ce;
  --color-primary-700: #4d4fb5;
  --color-primary-800: #414492;
  --color-primary-900: #3a3e75;
  --color-primary-950: #1d1e3a;
  /*primary color*/
}

@layer theme {
  .dark,
  [data-theme="dark"] {
    --color-body: #121318;
    color: white;
  }
}

@layer theme {
  * {
    scrollbar-color: var(--color-inverse-surface) transparent;
  }
}
@import "./components.css";
@import "./fonts.css";
