.button-outline {
  @apply cursor-pointer 
  select-none 
  inline-flex 
  items-center 
  justify-center 
  border 
  px-[1em] 
  rounded-full 
  transition-all
  hover:bg-neutral-200/20
  active:bg-neutral-200/40;
}
.button {
  @apply inline-flex 
  cursor-pointer 
  items-center 
  select-none
  border
  /*light*/
  dark:bg-neutral-700
  dark:border-neutral-600/75
  /*dark*/
  bg-neutral-200
  border-neutral-300;
}
.button.icon {
  @apply h-10 w-10 justify-center p-1 rounded-full transition-all;
}
