.button-icon {
  @apply inline-flex h-10 w-10 items-center justify-center p-1 rounded-full transition-all /*hover:bg-on-primary-container/25*/ cursor-pointer select-none;
}

.button-outline {
  @apply cursor-pointer select-none inline-flex items-center justify-center border /*border-primary/50*/ px-[1em] rounded-full transition-all /*hover:bg-on-primary-container/10 active:bg-primary/50*/;
}
