@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*Tipografia*/
  --font-space: "Space Mono", monospace;
  --font-jet-brains: "JetBrains Mono", monospace;
  /*Tipografia*/

  /*Colores*/
  --color-body: #ffffff;
  --color-content: black;

  /*Colores*/
}

@layer theme {
  .dark,
  [data-theme="dark"] {
    /*Colores*/
    --color-content: white;
    --color-body: #121318;

    /*Colores*/
  }
}

@import "./components.css";
