@layer components {
  .button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    @apply rounded-full select-none px-3 py-2 bg-zinc-100 dark:bg-zinc-900;

    &[data-animation="on"] {
      @apply transition-all duration-300;
    }

    &:hover:is(:not([data-color]), [data-color=""]):not(:active) {
      @apply bg-zinc-200 dark:bg-zinc-800;
    }
    &:is(:not([data-color]), [data-color=""]):active {
      @apply bg-zinc-300 dark:bg-zinc-600;
    }

    &.icon {
      justify-content: center;
      color: var(--color-content);
      width: 40px;
      height: 40px;
      padding: 4px;
      @apply rounded-full truncate;
    }

    &.outlined {
      @apply border border-neutral-300;

      @variant dark {
        @apply border-neutral-600/75;
      }
    }

    &[data-color="primary"] {
      color: black;
      @apply bg-purple-300;

      &:hover:not(:active) {
        @apply bg-purple-400;
      }
    }
    &[data-color="secondary"] {
      color: black;
      @apply bg-sky-200;

      &:hover:not(:active) {
        @apply bg-sky-300;
      }
    }
    &[data-color="accent"] {
      color: black;
      @apply bg-amber-200;

      &:hover:not(:active) {
        @apply bg-amber-300;
      }
    }
  }
}
