@layer components {
  .button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    @apply rounded-full select-none px-3 py-2 bg-zinc-100 dark:bg-zinc-900;

    /*Tipos de botones*/
    &.icon {
      justify-content: center;
      color: var(--color-content);
      width: 40px;
      height: 40px;
      padding: 4px;
      @apply rounded-full truncate;
    }

    &.outlined {
      @apply border border-neutral-300;

      @variant dark {
        @apply border-neutral-600/75;
      }
    }

    /*Activar animacion*/
    &[data-animation="on"] {
      @apply transition-all duration-300;
    }

    /*Efecto hover*/
    &:hover:is(:not([data-color]), [data-color=""]):not(:active) {
      @apply bg-zinc-200 dark:bg-zinc-700;
    }
    &:is(:not([data-color]), [data-color=""]):active {
      @apply bg-zinc-300/75 dark:bg-zinc-600;
    }

    /*Colores*/
    &:is(.active)[data-color="primary"] {
     color: black;
      @apply bg-primary-300;
      &:hover:not(:active) {
        @apply bg-primary-200
      }
    }

    /*&[data-color="secondary"] {
      color: black;
      @apply bg-secondary-400;
      &:hover:not(:active) {
        @apply bg-secondary-300;
      }
    }*/

    /**/

    /*&[data-color="primary"] {
      color: black;
      @apply bg-primary-300;

      &:hover:not(:active) {
        @apply bg-blue-300;
      }
    }
    &[data-color="secondary"] {
      color: black;
      @apply bg-sky-200;

      &:hover:not(:active) {
        @apply bg-sky-300;
      }
    }
    &[data-color="accent"] {
      color: black;
      @apply bg-amber-200;

      &:hover:not(:active) {
        @apply bg-amber-300;
      }
    }*/
  }
}
