@reference '@shared/styles/theme.css';

.header {
  @apply -translate-x-1/2;
  left: 50%;
  top: 20px;
  z-index: 10;
  position: fixed;
}

.header-navigation {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.header-buttons {
  @apply border border-zinc-300 rounded-full bg-zinc-100;
  display: flex;
  gap: 8px;
  padding: 4px;
  margin-right: 12px;
  @variant dark {
    @apply bg-zinc-900 border-zinc-600;
  }
}

.label-icon-header {
  @apply transition-all duration-300 ease-in-out;
  display: inline-block;
  vertical-align: middle;
  opacity: 0%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.group\/header-icon-navigator[data-focus-section="true"] .label-icon-header {
  opacity: 100%;
  margin-right: 6px;

  &.stadistics {
    width: 47px !important;
  }

  &.competences {
    width: 92px !important;
  }

  &.education {
    width: 90px !important;
  }
}
